.of-save-progress-button{display: none;}
.of-form-container{margin: 0;}
.of-nav-next{
    color:#ffffff;
    text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color:#0ec386;
    background-image:-moz-linear-gradient(top, #15d393, #03aa72);
    background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#15d393), to(#03aa72));
    background-image:-webkit-linear-gradient(top, #15d393, #03aa72);
    background-image:-o-linear-gradient(top, #15d393, #03aa72);
    background-image:linear-gradient(to bottom, #15d393, #03aa72);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff15d393', endColorstr='#ff03aa72', GradientType=0);
    border-color:#03aa72 #03aa72 #025f40;
    border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color:#03aa72;
    filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);
    
}
.of-nav-next:hover,
.of-nav-next:focus,
.of-nav-nexts:active,
.of-nav-next.active,
.of-nav-next.disabled,
.of-nav-next[disabled]{
    color:#ffffff;
    background-color:#03aa72;
    *background-color:#039161;
}
 
.of-all-section-container > .of-sectionbox > h2 + div {margin-top: 0;}
.of-display-navigation {
    height: 60px;
}
 
@media only screen and (min-width: 700px) {
  .of-nav-btn {
    width: auto;
    min-width: 140px;    
    position: static;
    float: right;
    margin-left: 20px;
    margin-right: 0;
  }
  .of-footer {
      position: absolute;
      bottom: 0px;
  }
}
